*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:before,
:after {
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-translate-x: 0;
    --un-translate-y: 0;
    --un-translate-z: 0;
    --un-pan-x: ;
    --un-pan-y: ;
    --un-pinch-zoom: ;
    --un-scroll-snap-strictness: proximity;
    --un-ordinal: ;
    --un-slashed-zero: ;
    --un-numeric-figure: ;
    --un-numeric-spacing: ;
    --un-numeric-fraction: ;
    --un-border-spacing-x: 0;
    --un-border-spacing-y: 0;
    --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-shadow-inset: ;
    --un-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-ring-inset: ;
    --un-ring-offset-width: 0px;
    --un-ring-offset-color: #fff;
    --un-ring-width: 0px;
    --un-ring-color: rgba(147, 197, 253, .5);
    --un-blur: ;
    --un-brightness: ;
    --un-contrast: ;
    --un-drop-shadow: ;
    --un-grayscale: ;
    --un-hue-rotate: ;
    --un-invert: ;
    --un-saturate: ;
    --un-sepia: ;
    --un-backdrop-blur: ;
    --un-backdrop-brightness: ;
    --un-backdrop-contrast: ;
    --un-backdrop-grayscale: ;
    --un-backdrop-hue-rotate: ;
    --un-backdrop-invert: ;
    --un-backdrop-opacity: ;
    --un-backdrop-saturate: ;
    --un-backdrop-sepia:
}

::backdrop {
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-translate-x: 0;
    --un-translate-y: 0;
    --un-translate-z: 0;
    --un-pan-x: ;
    --un-pan-y: ;
    --un-pinch-zoom: ;
    --un-scroll-snap-strictness: proximity;
    --un-ordinal: ;
    --un-slashed-zero: ;
    --un-numeric-figure: ;
    --un-numeric-spacing: ;
    --un-numeric-fraction: ;
    --un-border-spacing-x: 0;
    --un-border-spacing-y: 0;
    --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-shadow-inset: ;
    --un-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-ring-inset: ;
    --un-ring-offset-width: 0px;
    --un-ring-offset-color: #fff;
    --un-ring-width: 0px;
    --un-ring-color: rgba(147, 197, 253, .5);
    --un-blur: ;
    --un-brightness: ;
    --un-contrast: ;
    --un-drop-shadow: ;
    --un-grayscale: ;
    --un-hue-rotate: ;
    --un-invert: ;
    --un-saturate: ;
    --un-sepia: ;
    --un-backdrop-blur: ;
    --un-backdrop-brightness: ;
    --un-backdrop-contrast: ;
    --un-backdrop-grayscale: ;
    --un-backdrop-hue-rotate: ;
    --un-backdrop-invert: ;
    --un-backdrop-opacity: ;
    --un-backdrop-saturate: ;
    --un-backdrop-sepia:
}

.i-mdi\:tg {
    --un-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='16.000000pt' height='16.000000pt' viewBox='0 0 16.000000 16.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,16.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M25 135 c-50 -49 -15 -135 55 -135 41 0 80 39 80 80 0 41 -39 80 -80%0A80 -19 0 -40 -9 -55 -25z m91 -47 c-3 -13 -6 -29 -6 -35 0 -15 -9 -16 -29 -4%0A-13 8 -13 12 0 27 13 16 12 16 -9 5 -13 -7 -26 -10 -29 -7 -6 5 53 35 71 36 4%0A0 6 -10 2 -22z'/%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1em;
    height: 1em
}

.i-mdi\:sitemap {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M9 2v6h2v3H5c-1.11 0-2 .89-2 2v3H1v6h6v-6H5v-3h6v3H9v6h6v-6h-2v-3h6v3h-2v6h6v-6h-2v-3c0-1.11-.89-2-2-2h-6V8h2V2H9Z'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1em;
    height: 1em
}

.i-radix-icons\:github-logo {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 15 15' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M7.5.25a7.25 7.25 0 0 0-2.292 14.13c.363.066.495-.158.495-.35c0-.172-.006-.628-.01-1.233c-2.016.438-2.442-.972-2.442-.972c-.33-.838-.805-1.06-.805-1.06c-.658-.45.05-.441.05-.441c.728.051 1.11.747 1.11.747c.647 1.108 1.697.788 2.11.602c.066-.468.254-.788.46-.969c-1.61-.183-3.302-.805-3.302-3.583a2.8 2.8 0 0 1 .747-1.945c-.075-.184-.324-.92.07-1.92c0 0 .61-.194 1.994.744A6.963 6.963 0 0 1 7.5 3.756A6.97 6.97 0 0 1 9.315 4c1.384-.938 1.992-.743 1.992-.743c.396.998.147 1.735.072 1.919c.465.507.745 1.153.745 1.945c0 2.785-1.695 3.398-3.31 3.577c.26.224.492.667.492 1.343c0 .97-.009 1.751-.009 1.989c0 .194.131.42.499.349A7.25 7.25 0 0 0 7.499.25Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1em;
    height: 1em
}

.i-mdi\:discord {
    --un-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='16' height='16' viewBox='0 0 24 24'%0Astyle='fill:%23FFFFFF;'%3E%3Cpath d='M19.952,5.672c-1.904-1.531-4.916-1.79-5.044-1.801c-0.201-0.017-0.392,0.097-0.474,0.281 c-0.006,0.012-0.072,0.163-0.145,0.398c1.259,0.212,2.806,0.64,4.206,1.509c0.224,0.139,0.293,0.434,0.154,0.659 c-0.09,0.146-0.247,0.226-0.407,0.226c-0.086,0-0.173-0.023-0.252-0.072C15.584,5.38,12.578,5.305,12,5.305S8.415,5.38,6.011,6.872 c-0.225,0.14-0.519,0.07-0.659-0.154c-0.14-0.225-0.07-0.519,0.154-0.659c1.4-0.868,2.946-1.297,4.206-1.509 c-0.074-0.236-0.14-0.386-0.145-0.398C9.484,3.968,9.294,3.852,9.092,3.872c-0.127,0.01-3.139,0.269-5.069,1.822 C3.015,6.625,1,12.073,1,16.783c0,0.083,0.022,0.165,0.063,0.237c1.391,2.443,5.185,3.083,6.05,3.111c0.005,0,0.01,0,0.015,0 c0.153,0,0.297-0.073,0.387-0.197l0.875-1.202c-2.359-0.61-3.564-1.645-3.634-1.706c-0.198-0.175-0.217-0.477-0.042-0.675 c0.175-0.198,0.476-0.217,0.674-0.043c0.029,0.026,2.248,1.909,6.612,1.909c4.372,0,6.591-1.891,6.613-1.91 c0.198-0.172,0.5-0.154,0.674,0.045c0.174,0.198,0.155,0.499-0.042,0.673c-0.07,0.062-1.275,1.096-3.634,1.706l0.875,1.202 c0.09,0.124,0.234,0.197,0.387,0.197c0.005,0,0.01,0,0.015,0c0.865-0.027,4.659-0.667,6.05-3.111 C22.978,16.947,23,16.866,23,16.783C23,12.073,20.985,6.625,19.952,5.672z M8.891,14.87c-0.924,0-1.674-0.857-1.674-1.913 s0.749-1.913,1.674-1.913s1.674,0.857,1.674,1.913S9.816,14.87,8.891,14.87z M15.109,14.87c-0.924,0-1.674-0.857-1.674-1.913 s0.749-1.913,1.674-1.913c0.924,0,1.674,0.857,1.674,1.913S16.033,14.87,15.109,14.87z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1em;
    height: 1em
}
.i-mdi\:home {
    --un-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23010002;' d='M458.388,230.724c0-3.672-1.428-6.528-4.284-8.568L313.344,113.22 c-4.08-3.264-8.568-3.264-13.464,0L164.016,222.156c-2.448,2.04-3.672,4.896-3.672,8.568v196.452c0,3.267,1.02,5.916,3.06,7.956 s4.488,3.063,7.344,3.063h80.784c3.264,0,5.916-1.021,7.956-3.063c2.04-2.04,3.06-4.689,3.06-7.956V306.613h93.024v120.562 c0,3.267,1.02,5.916,3.06,7.956s4.692,3.063,7.956,3.063h80.784c3.264,0,5.916-1.021,7.956-3.063s3.06-4.689,3.06-7.956V230.724z M306,0c42.024,0,81.702,8.058,119.034,24.174s69.768,37.944,97.308,65.484s49.368,59.976,65.484,97.308S612,263.976,612,306 c0,28.152-3.672,55.284-11.016,81.396c-7.347,26.109-17.646,50.487-30.906,73.134c-13.26,22.644-29.172,43.248-47.736,61.812 c-18.562,18.564-39.168,34.479-61.812,47.736c-22.646,13.26-47.022,23.562-73.136,30.906C361.284,608.328,334.152,612,306,612 s-55.284-3.672-81.396-11.016c-26.112-7.347-50.49-17.646-73.134-30.906s-43.248-29.172-61.812-47.736 c-18.564-18.562-34.476-39.168-47.736-61.812c-13.26-22.646-23.562-47.022-30.906-73.135C3.672,361.284,0,334.152,0,306 s3.672-55.284,11.016-81.396s17.646-50.49,30.906-73.134s29.172-43.248,47.736-61.812s39.168-34.476,61.812-47.736 s47.022-23.562,73.134-30.906S277.848,0,306,0z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1em;
    height: 1em
}


.dark .text-imp {
    --un-text-opacity: 1;
    color: rgba(245, 245, 245, var(--un-text-opacity))
}

.text-imp {
    --un-text-opacity: 1;
    color: rgba(31, 31, 31, var(--un-text-opacity))
}

.\[letter-spacing\:-0\.02em\] {
    letter-spacing: -.02em
}

.\[letter-spacing\:unset\] {
    letter-spacing: unset
}

.\[tab-size\:2\] {
    tab-size: 2
}

.pointer-events-none {
    pointer-events: none
}

.absolute {
    position: absolute
}

.static {
    position: static
}

.inset-0 {
    inset: 0
}

.grid {
    display: grid
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.-mt-2 {
    margin-top: -.5rem
}

.me {
    margin-inline-end: 1rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-24 {
    margin-top: 6rem
}

.mt-8 {
    margin-top: 2rem
}

.h-\[calc\(100vh-100px\)\] {
    height: calc(100vh - 100px)
}

.h-37\.5px {
    height: 37.5px
}

.h-screen {
    height: 100vh
}

.h1 {
    height: .25rem
}

.h2 {
    height: .5rem
}

.h3 {
    height: .75rem
}

.max-w-container {
    max-width: 43rem
}

.w-20\.6666666666666666666666666666666666666666666666667ch {
    width: 20.6666666667ch
}

.flex {
    display: flex
}

.flex-col {
    flex-direction: column
}

.select-none {
    -webkit-user-select: none;
    user-select: none
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-16 {
    grid-gap: 4rem;
    gap: 4rem
}

.gap-3 {
    grid-gap: .75rem;
    gap: .75rem
}

.gap-4 {
    grid-gap: 1rem;
    gap: 1rem
}

.gap-5 {
    grid-gap: 1.25rem;
    gap: 1.25rem
}

.gap-y-2 {
    grid-row-gap: .5rem;
    row-gap: .5rem
}

.overflow-x-auto {
    overflow-x: auto
}

.b {
    border-width: 1px
}

.rounded {
    border-radius: .25rem
}

.bg-\#050505 {
    --un-bg-opacity: 1;
    background-color: rgba(5, 5, 5, var(--un-bg-opacity))
}

.bg-neutral-300 {
    --un-bg-opacity: 1;
    background-color: rgba(212, 212, 212, var(--un-bg-opacity))
}

.dark .dark\:bg-neutral-800 {
    --un-bg-opacity: 1;
    background-color: rgba(38, 38, 38, var(--un-bg-opacity))
}

.p-4 {
    padding: 1rem
}

.p1 {
    padding: .25rem
}

.p2 {
    padding: .5rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.pl-4 {
    padding-left: 1rem
}

.pt-3 {
    padding-top: .75rem
}

.pt\.2 {
    padding-top: .05rem
}

.text-center {
    text-align: center
}

.font-sans {
    font-family: Switzer
}

.\[\&code\]\:text-basecode {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 35px
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.after\:font-black:after,
.before\:font-black:before,
.font-black {
    font-weight: 900
}

.font-extrabold {
    font-weight: 800
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.tracking-wide {
    letter-spacing: .025em
}

.uppercase {
    text-transform: uppercase
}

.after\:text-gray-400:after,
.before\:text-gray-400:before {
    --un-text-opacity: 1;
    color: rgba(156, 163, 175, var(--un-text-opacity))
}

.dark .after\:dark\:text-gray-600:after,
.dark .before\:dark\:text-gray-600:before {
    --un-text-opacity: 1;
    color: rgba(75, 85, 99, var(--un-text-opacity))
}

.dark .dark\:text-neutral-500 {
    --un-text-opacity: 1;
    color: rgba(115, 115, 115, var(--un-text-opacity));
}

.text-neutral-600 {
    --un-text-opacity: 1;
    color: rgba(82, 82, 82, var(--un-text-opacity));
    margin-top: -4.2px;
    margin-right: -15px;
}

.text-white {
    --un-text-opacity: 1;
    color: rgba(255, 255, 255, var(--un-text-opacity))
}

.underline {
    text-decoration-line: underline
}

.dark .dark\:decoration-neutral-600 {
    -webkit-text-decoration-color: rgba(82, 82, 82, var(--un-line-opacity));
    --un-line-opacity: 1;
    text-decoration-color: rgba(82, 82, 82, var(--un-line-opacity))
}

.dark .hover\:dark\:decoration-neutral-500:hover {
    -webkit-text-decoration-color: rgba(115, 115, 115, var(--un-line-opacity));
    --un-line-opacity: 1;
    text-decoration-color: rgba(115, 115, 115, var(--un-line-opacity))
}

.decoration-neutral-300 {
    -webkit-text-decoration-color: rgba(212, 212, 212, var(--un-line-opacity));
    --un-line-opacity: 1;
    text-decoration-color: rgba(212, 212, 212, var(--un-line-opacity))
}

.hover\:decoration-neutral-400:hover {
    -webkit-text-decoration-color: rgba(163, 163, 163, var(--un-line-opacity));
    --un-line-opacity: 1;
    text-decoration-color: rgba(163, 163, 163, var(--un-line-opacity))
}

.dark .focus\:dark\:decoration-neutral-500:focus {
    -webkit-text-decoration-color: rgba(115, 115, 115, var(--un-line-opacity));
    --un-line-opacity: 1;
    text-decoration-color: rgba(115, 115, 115, var(--un-line-opacity))
}

.focus\:decoration-neutral-400:focus {
    -webkit-text-decoration-color: rgba(163, 163, 163, var(--un-line-opacity));
    --un-line-opacity: 1;
    text-decoration-color: rgba(163, 163, 163, var(--un-line-opacity))
}

.underline-offset-4 {
    text-underline-offset: 4px
}

.tab {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

.mix-blend-difference {
    mix-blend-mode: difference
}

.focus\:outline-offset-6:focus {
    outline-offset: 6px
}

.filter {
    filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia)
}

.transition-colors {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.ease {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.\[\&code\]\:after\:content-nonecode:after,
.\[\&code\]\:before\:content-nonecode:before {
    content: ""
}

@media (min-width: 768px) {
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

@font-face {
    font-family: Switzer;
    src: url(../fonts/Comfortaa-Regular.woff2) format("woff2");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Switzer Fallback;
    src: local("BlinkMacSystemFont"), local("Segoe UI"), local("Helvetica Neue"), local("Arial"), local("sans-serif");
    font-weight: 300 900;
    font-style: normal;
    ascent-override: 96.67%;
    descent-override: 24.66%;
    line-gap-override: 8.88%;
    size-adjust: 101.38%
}

@font-face {
    font-family: Hack;
    src: url(../fonts/Comfortaa-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: Cyberpunk;
    src: url(../fonts/Cyberpunk-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: EldenR;
    src: url(../fonts/EldenRing-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: AtomicH;
    src: url(../fonts/AtomicHeart-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: MetroE;
    src: url(../fonts/MetroExodus-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: DeathS;
    src: url(../fonts/DeathStranding-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

body,
html {
    overflow-x: hidden
}

html {
    touch-action: manipulation;
    scroll-behavior: smooth;
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    &.dark {
        color-scheme: dark
    }
}

* {
    --un-outline-color-opacity: 1;
    outline-color: rgba(0, 0, 0, var(--un-outline-color-opacity))
}

*::selection {
    --un-bg-opacity: 1;
    background-color: rgba(229, 229, 229, var(--un-bg-opacity));
    --un-text-opacity: 1;
    color: rgba(0, 0, 0, var(--un-text-opacity))
}

.dark *::selection {
    --un-bg-opacity: 1;
    background-color: rgba(64, 64, 64, var(--un-bg-opacity));
    --un-text-opacity: 1;
    color: rgba(255, 255, 255, var(--un-text-opacity))
}

.dark * {
    --un-outline-color-opacity: 1;
    outline-color: rgba(255, 255, 255, var(--un-outline-color-opacity))
}

body {
    font-family: Switzer, Switzer Fallback;
    position: relative;
    min-height: 100vh;
    --un-bg-opacity: 1;
    background-color: rgba(245, 245, 245, var(--un-bg-opacity));
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    --un-text-opacity: 1;
    color: rgba(38, 38, 38, var(--un-text-opacity))
}

.dark body {
    --un-bg-opacity: 1;
    background-color: rgba(23, 23, 23, var(--un-bg-opacity));
    --un-text-opacity: 1;
    color: rgba(212, 212, 212, var(--un-text-opacity))
}

@media (min-width: 768px) {
    body {
        padding: 2rem 1rem;
        font-size: 1rem;
        line-height: 1.5rem
    }
}

code,
pre {
    font-family: Hack, Courier New, Courier, monospace
}

.prose {
    max-width: 43rem;

    & p {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 1.8rem
    }

    & h1,
    h2,
    h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 600;
        --un-text-opacity: 1;
        color: rgba(31, 31, 31, var(--un-text-opacity))
    }

    .dark & h1,
    .dark & h2,
    .dark & h3 {
        --un-text-opacity: 1;
        color: rgba(245, 245, 245, var(--un-text-opacity))
    }

    & h1 {
        font-size: 1.5rem;
        line-height: 2rem
    }

    & h2 {
        font-size: 1.25rem;
        line-height: 1.75rem
    }

    & h3 {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    & strong {
        font-weight: 500;
        --un-text-opacity: 1;
        color: rgba(31, 31, 31, var(--un-text-opacity))
    }

    .dark & strong {
        --un-text-opacity: 1;
        color: rgba(245, 245, 245, var(--un-text-opacity))
    }

    & hr {
        border-bottom-width: 1px;
        --un-border-opacity: 1;
        border-color: rgba(212, 212, 212, var(--un-border-opacity))
    }

    .dark & hr {
        --un-border-opacity: 1;
        border-color: rgba(82, 82, 82, var(--un-border-opacity))
    }

    & ul {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: 1rem
    }

    & ul>li {
        margin-bottom: 1.5rem
    }

    & img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: .25rem
    }
}

.prose>:not(:last-child) {
    margin-bottom: 1.5rem
}